[Unit]
Description=MINT Celery Worker
After=network-online.target redis-server.service mint-api.service
Wants=network-online.target redis-server.service

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/MINT_Backend

ExecStart=/home/ubuntu/MINT_Backend/.venv/bin/celery -A app.workers.celery_app worker -l info

Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mint-celery-worker

[Install]
WantedBy=multi-user.target
